<!DOCTYPE html>
<html>
  <head>
    <title>NpiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="flex flex-row justify-center">
      <h1>Welcome to NPI Search App</h1>
    </nav>
    <main class="flex flex-col items-center">
      <div class="lg:max-w-[70vw]">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
